meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='keywords', content='admin, dashboard')
meta(name='author', content='DexignZone')
meta(name='robots', content='index, follow')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='Dompet : Payment Admin Template')
meta(property='og:title', content='Dompet : Payment Admin Template')
meta(property='og:description', content='Dompet : Payment Admin Template')
meta(property='og:image', content='https://dompet.dexignlab.com/xhtml/social-image.png')
meta(name='format-detection', content='telephone=no')
// PAGE TITLE HERE
title Dashboard
// FAVICONS ICON
link(rel='shortcut icon', href='https://media.discordapp.net/attachments/1027604347737100288/1028414213724573776/logo.png')
link(href='https://res.cloudinary.com/dschfq0zl/raw/upload/v1665263602/nice-select_nilpx1.css', rel='stylesheet')
link(rel='stylesheet', href='https://res.cloudinary.com/dschfq0zl/raw/upload/v1665263639/nouislider.min_fgiadz.css')
// Style css
link(href='https://res.cloudinary.com/dschfq0zl/raw/upload/v1665263196/style_wo4lh0.css', rel='stylesheet')
