mixin command(command)
    li.list-group-item(id=command.category class=command.name style='font-size: 19px;font-weight: bolder;color: #00adff;') #{command.name}
        p(style="margin: 0;font-size: 15px;font-weight: 100;color: #3c3c3c;") #{command.description}